.header {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 16px auto;
}
.centered {
  justify-content: center;
  width: 100%;
}
.section {
  padding-top: 20px;
}
.card {
  margin-left: 50px;
  margin: 16px auto !important;
  width: 400px;
  height: 475px;
}
.cardImage {
  object-fit: contain;
  width: 400px;
  height: 400px;
}
.card {
  margin-left: 50px;
  margin: 16px auto !important;
  width: 100%;
  max-width: 320px;
}
.cardImage {
  object-fit: contain;
  width: 320px;
}
