.header {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 16px auto;
}
.centered {
  /* display: flex; */
  justify-content: center;
  /* flex-wrap: wrap;
	flex-direction: column; */
  width: 100%;
}

.card {
  margin-left: 50px;
  margin: 16px auto !important;
  width: 100%;
  max-width: 320px;
}
.cardImage {
  object-fit: contain;
  width: 320px;
}
