.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 16px auto;
  justify-content: center;
  text-align: center;
}
.header {
  display: flex;
  margin-bottom: 20px;
}
.card {
  margin-left: 50px;
  margin: 16px auto !important;
  width: 400px;
  height: 475px;
}
.cardImage {
  object-fit: contain;
  width: 400px;
  height: 400px;
}

.back {
  margin-left: 20px;
  margin-top: 20px;
}

.backButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header {
    display: block;
  }
  .card {
    margin-left: 50px;
    margin: 16px auto !important;
    width: 200px;
    height: 275px;
  }
  .cardImage {
    object-fit: contain;
    width: 200px;
    height: 200px;
  }
}
